/* Sayfa genel arka planını pembe yap */
body {
  background-color: #ffcccb; /* Pembe arka plan */
  color: #333; /* Koyu gri metin */
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

/* Başlıklar için mor renk */
h1, h3 {
  color: #9b4d96; /* Mor başlık rengi */
}

/* Form etiketleri */
.form-label {
  font-size: 1.1rem;
}

/* Form inputlarının stilini beyaz yapmak ve şık bir görünüm sağlamak */
.form-control {
  background-color: #ffffff; /* Beyaz form alanları */
  color: #333; /* Koyu gri metin rengi */
  border: 1px solid #dba0db; /* Mor renkli sınır */
  border-radius: 5px;
  padding: 10px;
}

/* Hata mesajları için kırmızı */
.text-danger {
  color: #f44336;
}

/* Tablo düzeni */
.table {
  background-color: #ffffff; /* Beyaz arka plan */
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Tablo başlıkları */
th {
  background-color: #9b4d96;
  color: white;
  padding: 12px;
}

/* Tablo satırları */
td {
  padding: 10px;
  text-align: center;
}

/* Butonlar için stil */
button.btn-primary {
  background-color: #9b4d96; /* Mor buton */
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  color: white;
}

button.btn-primary:hover {
  background-color: #ab63b5; /* Hover durumunda daha açık mor */
}

/* Silme butonları için stil */
button.btn-danger {
  background-color: #ff6347; /* Kırmızımsı pembe */
  border: none;
  color: white;
  border-radius: 5px;
}

button.btn-danger:hover {
  background-color: #ff3b26; /* Hover durumunda daha yoğun kırmızı */
}  
